@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");
body {
  font-family: "Roboto Slab", sans-serif;
  background-image: url("../img/bg_paper.jpg"); }

p {
  font-size: 20px;
  text-align: center;
  color: #0d0d0d;
  font-family: "Raleway", sans-serif; }

h1 {
  font-size: 40px;
  text-align: center;
  font-family: "Abril Fatface", sans-serif;
  color: #0d0d0d; }

h2 {
  font-size: 30px;
  text-align: center;
  color: #ffcc00; }

h3 {
  font-size: 30px;
  text-align: center;
  color: #ff0000; }

h4 {
  font-size: 30px;
  text-align: center;
  color: #ff471a; }

img {
  width: 600px;
  height: 600px;
  border: 2px solid #ff0000; }

.grid-item {
  border: 1px solid #ffcc00; }

.item-One {
  grid-column: 1 / span 2;
  grid-row: 1;
  margin: 5px; }

.item-Two {
  grid-column: 1;
  grid-row: 2;
  margin: 5px;
  padding: 20px; }

.item-Three {
  grid-column: 2;
  grid-row: 2;
  margin: 5px;
  padding: 20px; }

.item-Four {
  grid-column: 1;
  grid-row: 3;
  margin: 5px;
  padding: 20px; }

.item-Five {
  grid-column: 2;
  grid-row: 3;
  margin: 5px;
  padding: 20px; }

.item-Six {
  grid-column: 1;
  grid-row: 4;
  margin: 5px;
  padding: 20px; }

.item-Seven {
  grid-column: 2;
  grid-row: 4;
  margin: 5px;
  padding: 20px; }

.item-Eight {
  grid-column: 1;
  grid-row: 5;
  margin: 5px;
  padding: 20px; }

.item-Nine {
  grid-column: 2;
  grid-row: 5;
  margin: 5px;
  padding: 20px; }

.item-Ten {
  grid-column: 1 / span 2;
  grid-row: 6;
  margin: 5px; }

@media screen and (max-width: 900px) {
  .grid {
    display: grid;
    grid-template-columns: auto;
    background-image: url("../img/bg_paper.jpg"); }
    .grid .item-One {
      grid-column: 1;
      grid-row: 1; }
    .grid .item-Two {
      grid-column: 1;
      grid-row: 2; }
    .grid .item-Three {
      grid-column: 1;
      grid-row: 3; }
    .grid .item-Four {
      grid-column: 1;
      grid-row: 5; }
    .grid .item-Five {
      grid-column: 1;
      grid-row: 4; }
    .grid .item-Six {
      grid-column: 1;
      grid-row: 6; }
    .grid .item-Seven {
      grid-column: 1;
      grid-row: 7; }
    .grid .item-Eight {
      grid-column: 1;
      grid-row: 9; }
    .grid .item-Nine {
      grid-column: 1;
      grid-row: 8; }
    .grid .item-Ten {
      grid-column: 1;
      grid-row: 10; } }
@media screen and (min-width: 900px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto;
    background-image: url("../img/bg_paper.jpg");
    grid-column-gap: 15px;
    grid-row-gap: 15px; } }
@media screen and (max-width: 500px) {
  .grid {
    display: grid;
    grid-template-columns: auto;
    background-image: url("../img/bg_paper.jpg"); }
    .grid .item-One {
      grid-column: 1;
      grid-row: 1; }
    .grid .item-Two {
      grid-column: 1;
      grid-row: 2; }
    .grid .item-Three {
      grid-column: 1;
      grid-row: 3; }
    .grid .item-Four {
      grid-column: 1;
      grid-row: 5; }
    .grid .item-Five {
      grid-column: 1;
      grid-row: 4; }
    .grid .item-Six {
      grid-column: 1;
      grid-row: 6; }
    .grid .item-Seven {
      grid-column: 1;
      grid-row: 7; }
    .grid .item-Eight {
      grid-column: 1;
      grid-row: 9; }
    .grid .item-Nine {
      grid-column: 1;
      grid-row: 8; }
    .grid .item-Ten {
      grid-column: 1;
      grid-row: 10; } }
.imgChange {
  width: 600px; }

/*# sourceMappingURL=main.css.map */
