//grid mixin
@mixin grid {
  //media query for grid
  //min width $screenmin: 900px;
  @media screen and (max-width: $screenmin){
    .grid {
      display: grid;
      grid-template-columns: auto;
      background-image: url("../img/bg_paper.jpg");

      .item-One {
        grid-column: 1;
        grid-row: 1;
      }

      .item-Two {
        grid-column: 1;
        grid-row: 2;
      }

      .item-Three {
        grid-column: 1;
        grid-row: 3;
      }

      .item-Four {
        grid-column: 1;
        grid-row: 5;
      }

      .item-Five {
        grid-column: 1;
        grid-row: 4;
      }

      .item-Six {
        grid-column: 1;
        grid-row: 6;
      }

      .item-Seven {
        grid-column: 1;
        grid-row: 7;
      }

      .item-Eight {
        grid-column: 1;
        grid-row: 9;
      }

      .item-Nine {
        grid-column: 1;
        grid-row: 8;
      }

      .item-Ten {
        grid-column: 1;
        grid-row: 10;
      }

    }
  }
  //min width $screenmin: 900px;
  @media screen and (min-width: $screenmin){
    .grid {
      display: grid;
      grid-template-columns: auto auto;
      background-image: url("../img/bg_paper.jpg");

      //creates more of a space/gap between grid-items
      grid-column-gap: 15px;
      grid-row-gap: 15px;

      }
  }
  //max width $screenmini: 500px
  @media screen and (max-width: $screenmini) {
    .grid {
      display: grid;
      grid-template-columns: auto;
      background-image: url("../img/bg_paper.jpg");

      .item-One {
        grid-column: 1;
        grid-row: 1;
      }

      .item-Two {
        grid-column: 1;
        grid-row: 2;
      }

      .item-Three {
        grid-column: 1;
        grid-row: 3;
      }

      .item-Four {
        grid-column: 1;
        grid-row: 5;
      }

      .item-Five {
        grid-column: 1;
        grid-row: 4;
      }

      .item-Six {
        grid-column: 1;
        grid-row: 6;
      }

      .item-Seven {
        grid-column: 1;
        grid-row: 7;
      }

      .item-Eight {
        grid-column: 1;
        grid-row: 9;
      }

      .item-Nine {
        grid-column: 1;
        grid-row: 8;
      }

      .item-Ten {
        grid-column: 1;
        grid-row: 10;
      }

    }
  }
}


body {
    font-family: $roboto; //font choice: google font Roboto Slab
    background-image: url("../img/bg_paper.jpg");

}

p {
  font-size: $pfontsize; //$pfontsize: 20px;
  text-align: $center; //$center: center
  //color: $colorwhite; color white #ffffe6
  color: $colorblack; //#0d0d0d; black
  //font-family: $verdana; font choice: verdana
  font-family: $raleway; //google font 'Raleway', sans-serif;
}

footer {
  font-size: $pfontsize; //$pfontsize: 20px;
  text-align: $center; //$center: center
  color: $colorblack; //color black #0d0d0d
  font-family: $raleway; //google font 'Raleway', sans-serif;
  padding: 10px;
}

h1 {
  font-size: $hOnefontsize; //$hOnefontsize: 35px;
  text-align: $center;
  font-family: $abril;
  color: $colorblack;

}

h2 {
  font-size: $hTwofontsize; //$hTwofontsize: 40px;
  text-align: $center;
  color: $colorgold; //color gold #ffcc00
  
}

h3 {
  font-size: $hTwofontsize; //30px
  text-align: $center;
  color: $colorred; //color red #ff0000
  
}

h4 {
  font-size: $hTwofontsize; //30px
  text-align: $center;
  color: $colorredorange; //red orange #ff471a

}


img {
  width: $width; //$width: 600px;
  height: $height; //$height: 600px;
  border: 2px solid $colorred;
}

//conditional mixin, image changes in srcset depending on image width size
 @mixin widthChanges {
  .imgChange {
      @if $width >= 900px {
        width: $widthlarge; //$widthlarge: 900px
      }
      @else if $width >= 600px {
        width: $widthmedium; //$widthmedium: 600px
      }
      @else if $width >= 300px {
        width: $widthsmall; //$widthsmall: 300px
      }
  }
}