//Background colors
$bgcolorgray: #d9d9d9; //gray
$bgcolorblack: #0d0d0d; //black

//colors
$colorred: #ff0000; //red
$colorblack: #0d0d0d; //black
$colorgray: #d9d9d9; //light gray
$colorgold: #ffcc00; //light gold
$colorwhite: #ffffe6; //white-ish
$colorredorange: #ff471a; //red orange

//Font
$pfontsize: 20px;
$hOnefontsize: 40px;
$hTwofontsize: 30px;
$center: center;

//font types
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto Slab', sans-serif;
$abril: 'Abril Fatface', sans-serif;

//img sizes
$width: 600px;
$height: 600px;

$widthxlarge: 1200px;
$widthlarge: 900px;
$widthmedium: 600px;
$widthsmall: 300px;

$screen: 800px;
$screenmin: 900px;
$screenmax: 899px;
$screenmini: 500px;